language: node_js
node_js:
- '0.10'
before_install:
- npm install -g bower
- bower install
before_script:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
deploy:
  provider: npm
  email: {{email}}
  api_key:
    secure: {{key}}
  on:
    tags: true
    all_branches: true
    repo: ocombe/angular-localForage
